@import './base.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none;
    /* Internet explorer depuis la version 10 et Edge */
    user-select: none;
    /* Propriété standard */
}

body {
  height: 100vh;
  width: 100vw;
    overflow: hidden;
}

#app {
  font-weight: normal;
  width: 300%;
  height: 100%;
  transition: transform 1s ease-in;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

